{% extends "base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title> Shinta's Home </title>
{% endblock %}

{% block content %}
	<h1> Halo, apa kabar? </h1>
	<div class ="all">
		<form action = "/submitstatus/" method="POST">
		{% csrf_token %}
		<div class="form-group">
		  <input  name = "status" type="text" class="form-control input" placeholder="Perasaan kamu hari ini gimana sih?">
		</div>
		<button type="submit" class="btn btn-primary butt" id ="submitan">Post</button>
		</form>
		<div>
			<table class="table table-hover tabel">
				<thead>
			  		<tr>
			    		<th>Status</th>
			    		<th>Tanggal</th>
			  		</tr>
				</thead>
				<tbody>
			  	{% for i in List_Status_Key %}
			  		<tr>
			    		<td>{{ i.status}}</td>
			    		<td>{{ i.tanggal}}</td>
			  		</tr>
			 	 {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

